/ProyectoPOO/nbproject/private/
/ProyectoPOO/Registro/nbproject/private/
/ProyectoPOO/Registro/build/
/ProyectoPOO/Menú/nbproject/private/
/ProyectoPOO/Menu/nbproject/private/
/ProyectoPOO/Project/nbproject/private/
/ProyectoPOO/build/
